# ignore folders
*.dll
*.deps.json
Properties
.vs
obj
bin
*.txt
GCTJsonBuilder/*
__releases
__releases/*
Skateboard/*
GarbagePacker/*
*Shortcut*
msbuild.binlog*
README
StardewReference